* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #fff;
  font-size: 30px;
}
/*.navbar-toggler {
  outlline: none !important;
}*/

/*---------------banner-section----------------*/
#banner {
  background-image: linear-gradient(to right, #a517, #5f17);
  color: #fff;
  padding-top: 5%;
}
/*.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
.play-btn {
  width: 45px;
  margin: 20px;
}
#banner a {
  color: #fff;
  text-decoration: none;
}
.bottom-img {
  width: 100%;
}*/

/*-------------------services-section---------------------*/
/*#services {
  padding-top: 80px 0;
}
.service-img {
  width: 100px;
  margin-top: 2px;
}
.services {
  padding: 20px;
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::before {
  content: "";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;

  background-image: linear-gradient(to right, #a517ba, #5f1782);
}*/

/*---------------------About-us section-----------*/
/*#about-us {
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}
.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 10px;
}*/
.row {
  margin-left: 10px;
}
.row > div {
  border: 2px solid red;
  background-color: gray;
  margin: 10px;
}
div > .main1 {
  border: 1px solid black;
  background-color: cyan;
  width: fit-content;
  padding: 4px;
}
div > .main2 {
  border: 1px solid black;
  background-color: darkorchid;
  width: fit-content;
  padding: 4px;
}
div > .main3 {
  border: 1px solid black;
  background-color: darkseagreen;
  width: fit-content;
  padding: 4px;
}
